@use "sass:color";
@use "../abstracts" as *;

:root {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  overflow: auto;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: inherit;
}

::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 50%);
  border-radius: 50px;
  width: 50px;

  &:hover {
    background: rgb(255 255 255 / 75%);
  }
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: $dark-foreground;
  background-image: url("@/assets/neumoDarkerDesat.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: $font-text;
  text-shadow: $text-shadow;

  // font-size: 1em;
}

#root {
  display: grid;
  grid-template-rows: $window-controls-height $gap auto $gap;
  grid-template-columns: $navbar-height $gap auto $gap;
  grid-template-areas:
          "titlebar titlebar titlebar titlebar"
          "gap-top gap-top gap-top gap-top"
          "navbar gap-left main gap-right"
          "gap-bottom gap-bottom gap-bottom gap-bottom";
  grid-gap: 0;
  height: 100%;
}

h1 {
  margin: 0;
  color: $accent;
}

main {
  padding: $gap;
  grid-area: main;
  border-radius: $small-radius;
  overflow-y: auto;
  box-shadow: $thick-shadow, $thick-inner-shadow;
  backdrop-filter: $general-backdrop-filter;
  border: $general-border;
  font-size: 0.75rem;
}